@charset "UTF-8";

/* reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h2{
  border-bottom: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 900px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .u-mobile {
    display: none;
  }
}

html {
  font-size: 62.5% !important;
}

/* pcの電話番号発信 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

/* 設定 */
:root {
  /* カラー */
  --color-white: #fff;
  --color-black: #323232;
  --color-lightblue: #27A3BD;

  /* フォント */
  --font-base: "Noto Sans JP", sans-serif;
  --font-second: "Noto Serif JP", serif;
  --font-en: "EB Garamond", serif;
}